{% import "_components/photo.html" as c %}
{% import "_components/photo_info.html" as i %}

<div class="next-photo-ref" hx-push-url="/photography/{{ collection_route.name }}/{{ photo.next_id }}"></div>
<div class="prev-photo-ref" hx-push-url="/photography/{{ collection_route.name }}/{{ photo.prev_id }}"></div>
<div class="photo-card__wrapper">
  <div class="relative">
    {{ i::photo_info(data=photo.photo, class="photo-wrapper invisible") }}
    {{ c::photo(data=photo.photo, size="Hd", class="open__photo photo--visible") }}
    <button class="photo-info__icon"></button>
  </div>
</div>

<script>
(function() {
  if (window.__active_collection__) {
    delete window.__active_collection__;
  }

  if (window.__open_photo__) {
    delete window.__open_photo__;
  }

  window.__active_collection__ = {{ collection_route | json_encode() | safe }};
  window.__open_photo__ = {{ photo | json_encode() | safe }};
})();
</script>
<script src="/public/one_photo.js"></script>
