{% import "_components/open_photo.html" as c %}
<div class="portfolio__one-photo-bg"></div>
<div class="portfolio__one-photo-wrapper">
  <div class="prev-photo-ref" hx-push-url="/photography/{{ collection_route.name }}/{{ photo.prev_id }}"></div>
  <div class="next-photo-ref" hx-push-url="/photography/{{ collection_route.name }}/{{ photo.next_id }}"></div>
  <nav class="photo-info__navigation">
    <button
      class="photo-info__close"
      hx-get="{{ collection_route.ajax_path }}"
      hx-push-url="{{ collection_route.path }}"
      hx-target=".portfolio__photos-wrapper"
    >
      Close
    </button>
    <ol>
        <button
          class="photo-info__left-arrow"
          hx-get="/one_photo/{{ collection_route.name }}/{{ photo.prev_id }}"
          hx-push-url="/photography/{{ collection_route.name }}/{{ photo.prev_id }}"
          hx-target=".portfolio__photos-wrapper"
        >
          Prev
        </button>
      </li>
      <li>
        <button
          class="photo-info__right-arrow"
          hx-get="/one_photo/{{ collection_route.name }}/{{ photo.next_id }}"
          hx-push-url="/photography/{{ collection_route.name }}/{{ photo.next_id }}"
          hx-target=".portfolio__photos-wrapper"
        >
          Next
        </button>
      </li>
    </ol>
  </nav>
  <div class="open-photo__wrapper">
    {{ c::open_photo(data=photo.photo, size="Hd") }}
  </div>
</div>

<script>
(function() {
  if (window.__active_collection__) {
    delete window.__active_collection__;
  }

  if (window.__open_photo__) {
    delete window.__open_photo__;
  }

  window.__active_collection__ = {{ collection_route | json_encode() | safe }};
  window.__open_photo__ = {{ photo | json_encode() | safe }};
})();
</script>
<script src="/public/one_photo.js"></script>
