{% import "_components/simple_photo.html" as c %}

<div
  hx-trigger="load"
  hx-get="/analytics?p=/collection/{{ collection_route.name }}"
  hx-headers='js:{"x-visitor-id": localStorage.getItem("client_id")}'>
</div>
<ul class="portfolio-collection">
  {% for data in portfolio_photos %}
  <li>{{ c::simple_photo(data=data, size="Sm", class="portfolio-collection__photo") }}</li>
  {% endfor %}
</ul>

<script>
(function() {
  if (window.__active_collection__) {
    delete window.__active_collection__;
  }

  window.__active_collection__ = {{ collection_route | json_encode() | safe }};
  document.title = `victorhqc.com - Photography Portfolio`;
})();
</script>
<script>
  (function() {
    CLEANUP_EXISTING_LISTENERS();
  })();

</script>
