{% import "_components/simple_photo.html" as c %}

<ul class="portfolio-collection">
  {% for data in portfolio_photos %}
  <li>{{ c::simple_photo(data=data, size="Sm", class="portfolio-collection__photo") }}</li>
  {% endfor %}
</ul>

<script>
(function() {
  if (window.__active_collection__) {
    delete window.__active_collection__;
  }

  window.__active_collection__ = {{ collection_route | json_encode() | safe }};
})();
</script>
<script>
  (function() {
    CLEANUP_EXISTING_LISTENERS();
  })();

</script>
