ROCKET_CACHED_PHOTO_TAGS="{{ api_cached_photo_tags }}"
ROCKET_PORT={{ api_port }}
ROCKET_DATABASE_URL={{ vault_api_database_url }}

RUST_LOG="{{ api_rust_log }}"

AWS_ACCESS_KEY_ID={{ vault_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ vault_aws_secret_access_key }}
AWS_REGION={{ vault_aws_region }}
AWS_BUCKET_NAME={{ vault_aws_bucket_name }}
