/.idea
/target
/deps

stress-tests/benchmark.yml
scripts/unix/run.api.sh

stress-tests/benchmark.web.yml

.env

.DS_Store

*.db
*.db-shm
*.db-wal

.cargo/config.toml

*.txt

web/static/
web/regexes.yaml
*.zip

__debug_compression__
*.jpg
*.jpg
*.webp
