<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>victorhqc.com - {% block title %}{% endblock title %}</title>
    {# Things that can appear in the HEAD regardless of the environment #}
    {% block head %}{% endblock %}
    {# Things that can appear in the HEAD only in production #}
    {% if is_production %}
      {% block static_head %}{% endblock %}
    {% else %}
      <script src="/static/tailwindcss.js"></script>
      {# Render Tailwind styles in the HEAD only in development #}
      <style type="text/tailwindcss">
        {% include "_components/main_menu.css" %}
        {% block tailwind_styles %}{% endblock %}
      </style>
      {# Things that can appear in the HEAD only in development #}
      {% block dev_head %}{% endblock %}
    {% endif %}
    <script defer src="/static/htmx.js"></script>
    <script>
    let __IS_MOBILE__ = {{ is_mobile }};
    let __LISTENERS__ = [];

    function CLEANUP_EXISTING_LISTENERS() {
      __LISTENERS__.forEach(([listener, type, target]) => {
        target.removeEventListener(type, listener);
      });

      __LISTENERS__ = [];
    }

    function REGISTER_LISTENER([listener, type, target]) {
      target.addEventListener(type, listener)
      __LISTENERS__.push([listener, type, target]);
    }
    </script>
    {% set client_id = uuid() %}
    <script>
      if (!localStorage.getItem("client_id")) {
        localStorage.setItem("client_id", '{{ client_id }}');
      }
    </script>
  </head>
  <body>
    {% if path %}
    <div
      hx-trigger="load"
      hx-get="/analytics?p={{ path }}"
      hx-headers='js:{"x-visitor-id": localStorage.getItem("client_id")}'>
    </div>
    {% endif %}

    {% block content %}{% endblock %}
  </body>
  {% block scripts %}{% endblock %}
</html>
