.picture__wrapper {
    @apply w-full overflow-hidden absolute z-10 top-0 left-0 bg-cover transition-opacity;
    height: 100vh;
}

.about_me {
    @apply z-20 absolute top-0 left-0 p-3 w-full;
    transform: translate3d(0, 20vh, 0);
}

.title {
    @apply text-4xl mt-6;
    text-shadow: 2px 2px 8px #333;
}

.subtitle {
    @apply text-2xl;
    text-shadow: 2px 2px 8px #333;
}

.text {
    @apply text-lg;
    text-shadow: 2px 2px 8px #333;
}

.image__blur {
    @apply transition-opacity absolute z-0 top-0 left-0;
}