.picture__wrapper {
  @apply w-full overflow-hidden absolute top-0 left-0 bg-cover transition-opacity;
  height: 100vh;
  z-index: -1;
}

.about_me {
  @apply w-10/12 m-auto mt-10;
  @apply bg-white shadow-md p-6 rounded-xl;
}

@screen md {
  .about_me {
    @apply bg-white shadow-md p-6 rounded-xl max-w-3xl;
    @apply z-20 absolute top-20 left-10;
  }
}

.title {
  @apply text-4xl mt-6;
}

.subtitle {
  @apply text-2xl;
}

.text {
  @apply text-lg;
}

.image__blur {
  @apply transition-opacity absolute top-0 left-0;
  z-index: -2;
}

.picture__about {
  @apply absolute z-10 bottom-0 right-0 mb-3 mr-3;
}

.picture__about a {
  @apply underline;
}
