.open-photo__photo-wrapper {
  @apply h-full w-full;
}

.photo--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms linear;
}

.photo--hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 2s,
    opacity 150ms linear;
}

.open-photo__info-wrapper {
  @apply bottom-0 left-0 m-3;
  @apply backdrop-blur-md bg-white/20 border border-white/30;

  width: calc(100% - 1.5rem);
  height: 150px;
  position: absolute !important;

  /* Add shadow for better depth */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

.open-photo__info-wrapper h1 {
  @apply mb-2;
}

.open-photo__info-wrapper h1 {
  @apply font-serif italic text-2xl;
  /*@apply text-white drop-shadow-lg;*/
}

.open-photo__info-photo-wrapper {
  @apply px-3 -ml-3 mr-3;
}

.open-photo__info-data {
  @apply w-full h-full;
  @apply grid place-items-center;
}

.open-photo__info_photo {
  @apply mb-3 w-full;
}

.open-photo__info-data h1 {
  @apply italic font-serif text-xl;
}

.open-photo__info-data h3 {
  @apply lg:text-base;
}

.open-photo__info-data p {
  @apply text-sm md:text-sm lg:text-base;
}

.open-photo__photo-values {
  @apply text-sm md:text-sm lg:text-base;
}

.photo-info__data {
  @apply flex place-content-between;
  @apply -mx-3 px-3 pb-3 mb-3;
}

.open-photo__small-info p {
  @apply text-xs;
}

.open-photo__icon {
  @apply bg-cover absolute bottom-8 right-8;
  @apply hidden md:block lg:block;

  width: 18px;
  height: 18px;
  background-image: url("/public/icons/info-white.svg");
}

.open-photo__icon--black {
  background-image: url("/public/icons/info-black.svg");
}
