{% macro open_photo_no_info(data, size="Sm") %}
<div class="open-photo">
  <div class="open-photo__container photo-wrapper">
    <img
      class="photo"
      src="{{ api_host }}/v1/images/{{ data.id }}/{{ size }}"
      alt="{{ data.title }}"
    />
  </div>
</div>
{% endmacro open_photo_no_info %}

{% macro open_photo(data, size="Md") %}
{% set exif = data.exifMeta %}
<div class="open-photo">
  <div class="open-photo__container photo-wrapper">
    <div class="open-photo__photo-wrapper photo--visible">
      <img
        class="photo"
        src="{{ api_host }}/v1/images/{{ data.id }}/{{ size }}"
        alt="{{ data.title }}"
      />
    </div>
    <div class="open-photo__info-wrapper photo--visible photo--hidden">
      <div class="open-photo__info-photo-wrapper">
        <img
          class="open-photo__info_photo"
          src="{{ api_host }}/v1/images/{{ data.id }}/{{ size }}"
          alt="{{ data.title }}"
        />
      </div>
      <div class="open-photo__info-data">
        <div class="open-photo__info-head">
          <div>
            <h1>{{ data.title }}</h1>
            <h3>{{ exif.cameraMaker }} {{ exif.cameraName }}</h3>
            <p>{{ exif.focalLength.value }}mm ({{ exif.focalLength.eq35Mm}}mm eq)</p>
            <p class="open-photo__photo-values">
              ISO {{ exif.iso }} <i class="italic">f</i>{{ exif.aperture }} {{ exif.shutterSpeed }}s
            </p>
          </div>
          {% if exif.cameraMaker == "FUJIFILM" %}
          {% set film_sim = exif.fujifilmRecipe %}
          <div
            class="open-photo__film-sim-icon"
            style="background-image: url('/public/film-simulations/{{ get_film_simulation_img(name=film_sim.filmSimulation)}}')"
          ></div>
          {% endif %}
        </div>
        {% if exif.cameraMaker == "FUJIFILM" %}
        {% set film_sim = exif.fujifilmRecipe %}
        <h1>Fujifilm Recipe</h1>
        <div class="open-photo__film-simulation">
          <div>
            <div>
              <h3>Film Simulation</h3>
              <p>{{ parse_film_simulation_name(name=film_sim.filmSimulation,monochromatic_color=film_sim.settings.monochromaticColor) }}</p>
            </div>
            <div>
              <h3>White Balance</h3>
              <p>{{ film_sim.settings.whiteBalance }}</p>
            </div>
            <div>
              <h3>Color Chrome Effect</h3>
              <p>{{ film_sim.settings.colorChromeEffect }}</p>
            </div>
            <div>
              <h3>Dynamic Range</h3>
              <p>{{ film_sim.settings.dynamicRange }}</p>
            </div>
            <div>
              <h3>Color</h3>
              <p>{{ film_sim.settings.color }}</p>
            </div>
            <div>
              <h3>Clarity</h3>
              <p>{{ film_sim.settings.clarity }}</p>
            </div>
          </div>
          <div>
            <div>
              <h3>Grain Effect</h3>
              <p>{{ film_sim.settings.grainEffect }}</p>
            </div>
            <div>
              <h3>Tone Curve</h3>
              <p>{{ film_sim.settings.toneCurve }}</p>
            </div>
            <div>
              <h3>Color Chrome FX Blue</h3>
              <p>{{ film_sim.settings.colorChromeFxBlue }}</p>
            </div>
            <div>
              <h3>DRange Priority</h3>
              <p>{{ film_sim.settings.dRangePriority }}</p>
            </div>
            <div>
              <h3>High ISO NR</h3>
              <p>
                {{ film_sim.settings.highIsoNoiseReduction }}
              </p>
            </div>
            <div>
              <h3>Sharpness</h3>
              <p>{{ film_sim.settings.sharpness }}</p>
            </div>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
    <button class="open-photo__icon"></button>
  </div>
</div>
{% endmacro open_photo %}
