{# Used for Mobile View #}
{% macro open_photo_no_info(data, size="Sm") %}
{% set style = "width: calc(100vw - 1.5rem);" %}
<div class="open-photo" style="{{style}}">
  <div class="open-photo__container photo-wrapper">
    <img
      class="photo"
      src="{{ api_host }}/v1/images/{{ size }}/{{ data.id }}"
      alt="{{ data.title }}"
    />
  </div>
</div>
{% endmacro open_photo_no_info %}

{# Used for Desktop View #}
{% macro open_photo(data, size="Md") %}
{% set exif = data.exifMeta %}
{% set orientation = data.orientation %}
{% if orientation == "LANDSCAPE" %}
  {% set style = "aspect-ratio: 3/2; width: calc(100vw - 12rem);" %}
{% else %}
{% set style = "aspect-ratio: 2/3; height: calc(100vh - 5rem);" %}
{% endif %}
<div class="open-photo" style="{{style}}">
  <div class="open-photo__container photo-wrapper">
    <div class="open-photo__photo-wrapper">
      <img
        class="photo"
        src="{{ api_host }}/v1/images/{{ size }}/{{ data.id }}"
        alt="{{ data.title }}"
      />
    </div>
    <div class="open-photo__info-wrapper photo--visible photo--hidden">
      <div class="open-photo__info-data">
        <div>
          <h1>{{ data.title }}</h1>
          <h3>{{ exif.cameraMaker }} {{ exif.cameraName }}</h3>
          <p>{{ exif.focalLength.value }}mm ({{ exif.focalLength.eq35Mm}}mm eq)</p>
          <p class="open-photo__photo-values">
            ISO {{ exif.iso }} <i class="italic">f</i>{{ exif.aperture }} {{ exif.shutterSpeed }}s
          </p>
        </div>
      </div>
    </div>
    <button class="open-photo__icon"></button>
  </div>
</div>
{% endmacro open_photo %}
