{% macro photo(data, size="Md") %}
  <div class="photo-wrapper">
    <img
      class="photo"
      src="{{ api_host }}/v1/images/{{ data.id }}/{{size}}"
      alt="{{ data.title }}"
    />
    <div class="photo-description">
      <h1>{{ data.title }}</h1>
      <p>
        Shot on {{ data.exifMeta.focalLength.eq35Mm}}mm {{
        data.exifMeta.cameraMaker }} {{ data.exifMeta.cameraName }}
      </p>
      <p>
        {{ data.exifMeta.iso }} ISO f{{ data.exifMeta.aperture }} {{
        data.exifMeta.shutterSpeed }} sec
      </p>
    </div>
  </div>
{% endmacro photo %}
