{% macro photo_info(data) %}
{% set exif = data.exifMeta %}
<div class="photo-info__wrapper">
  <div class="photo-info__data">
    <div class="photo-info__data-container">
      <h1>{{ data.title }}</h1>
      <p>{{ exif.cameraMaker }} {{ exif.cameraName }}</p>
      <p>{{ exif.focalLength.value }}mm ({{ exif.focalLength.eq35Mm}}mm eq)</p>
      <p class="photo-info__p--small">
        ISO {{ exif.iso }} <i class="italic">f</i>{{ exif.aperture }} {{
        exif.shutterSpeed }} s
      </p>
    </div>
  </div>
</div>
{% endmacro photo_info %}
