{% macro photo_info(data) %}
{% set exif = data.exifMeta %}
<div class="photo-info__wrapper">
  <div class="photo-info__image-background">
    <img
      class="photo-info__background-img"
      src="{{ api_host }}/v1/images/Sm/{{ data.id }}"
      alt="{{ data.title }}"
    />
  </div>
  <div class="photo-info__data">
    <div class="photo-info__data-container">
      <h1>{{ data.title }} <small>{{ exif.dateTaken }}</small></h1>
      <h3>
        ISO {{ exif.iso }} <i class="italic">f</i>{{ exif.aperture }} {{
        exif.shutterSpeed }} s
      </h3>
      {% if exif.focalLength.value !=  exif.focalLength.eq35Mm %}
        <p>{{ exif.focalLength.value }}mm ({{ exif.focalLength.eq35Mm}}mm eq)</p>
      {% else %}
        <p>{{ exif.focalLength.value }}mm</p>
      {% endif %}
      <br />
      <div class="photo-info__small-info">
        <p>{{ exif.cameraMaker }} {{ exif.cameraName }}</p>
        {% if exif.lensMaker != "UNKNOWN" %}
          <p>
              {{ exif.lensMaker }}
              {{ exif.lensName }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro photo_info %}
