{% macro portfolio_menu(collections) %}
<div class="portfolio__menu">
  <nav class="portfolio__collections-menu">
    <ol>
      {% for collection in collections %}
      <li
        hx-get="{{ collection.ajax_path }}"
        hx-push-url="{{ collection.path }}"
        hx-target=".portfolio__photos-wrapper"
        data-collection="{{collection.name}}"
        class="portfolio__collection-item">
          {{ collection.name }}
      </li>
      {% endfor %}
    </ol>
  </nav>
</div>
{% endmacro portfolio_menu %}
