[defaults]
inventory = inventory/hosts.yml
roles_path = roles
# Uncomment the line below if you want to avoid typing --ask-vault-pass every time
# vault_password_file = ~/.vault_pass_victorhqc

[ssh_connection]
# Use the SSH config alias for cloudflared proxy
ssh_args = -F ~/.ssh/config
pipelining = True
