[defaults]
inventory = inventory/hosts.yml
roles_path = roles
inject_facts_as_vars = false
# Uncomment the line below if you want to avoid typing --ask-vault-pass every time
# vault_password_file = ~/.vault_pass_victorhqc

[ssh_connection]
pipelining = True
