.index__sections-wrapper {
  @apply grid grid-cols-1 md:grid-cols-8 lg:grid-cols-8;
  @apply px-3;
}

#index__main-section {
  @apply col-span-1 my-4;
  @apply md:col-span-3 md:mx-4 md:my-0;
  @apply lg:col-span-3 lg:mx-4 lg:my-0;

  align-content: center;
}

@media (min-width: 768px) {
  #index__main-section {
    height: 70vh;
  }
}

#index__main-section h1 {
  @apply text-2xl font-medium font-serif;
}

#index__main-section h2 {
  @apply text-xl font-light font-serif italic text-gray-800;
}

#index__main-section p {
  @apply mt-3;
}

#index__photos-section {
  @apply col-span-1 relative my-16 w-full text-center;
  @apply md:col-span-5 md:my-0;
  @apply lg:col-span-5 lg:my-0;
}

@media (min-width: 768px) {
  #index__photos-section {
    height: calc(100vh - 1rem - 72px);
    align-content: center;
  }
}

#index__photos-stack {
  @apply block relative m-auto w-10/12;
}

@media (min-width: 768px) {
  #index__photos-stack {
    height: 70vh;
  }
}

.index__photo-slide {
  @apply absolute top-0 top-0 w-full;
}
