#main-section {
  @apply col-span-3 mx-4;

  align-content: center;
}

#main-section h1 {
  @apply text-2xl font-medium font-serif;
}

#main-section h2 {
  @apply text-xl font-light font-serif italic text-gray-800;
}

#main-section p {
  @apply mt-3;
}

#photos-section {
  @apply col-span-5 w-full text-center;

  height: calc(100vh - 1rem - 72px);
  align-content: center;
}

#photos-stack {
  @apply block relative m-auto w-10/12;
  height: 70vh;

  perspective: 1200px;
}

.photo-slide {
  @apply absolute top-0 top-0 w-full;
}
