<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>victorhqc.com</title>
    <script src="/static/htmx.js.gz"></script>
    <script src="/static/tailwindcss.js.gz"></script>
    <style type="text/tailwindcss">
      {% include "index.css" %}
    </style>
  </head>
  <body>
    <div id="main" style="background-image: url('{{ api_host }}/v1/images/{{ id }}/Md')">
      <div class="card" id="me">
        <h1>Victor Quiroz Castro</h1>
        <h2>Software Engineer</h2>
        <p>
          I'm a Software Engineer specialized in Web Technologies like JavaScript, Rust, Servers, DBs, AWS, etc.
        </p>
        <p>
           I like reading sci-fi books and taking photos with my camera.
        </p>
      </div>
    </div
  </body>
</html>
