body {
  @apply p-2;
}

a {
  @apply underline;
}

#main-section {
  @apply col-span-3 px-4;

  align-content: center;
}

#main-section h1 {
  @apply text-2xl font-semibold font-serif;
}

#main-section h2 {
  @apply text-xl font-serif italic;
}

#main-section p {
  @apply mt-3;
}

#photos-section {
  @apply col-span-5 w-full text-center;

  height: calc(100vh - 1rem);
  align-content: center;
}

#photos-stack {
  @apply block relative m-auto w-10/12;
  height: 50vh;
}

.photo {
  @apply absolute top-0 top-0 w-full;
  @apply border border-solid border-white border-8;
  @apply shadow-md;

  /* left: calc(50% - 30vw); */
}

.photo.active {
  @apply z-10;
}
