{% extends "_blocks/base.html" %}
{% import "_components/photo.html" as c %}
{% import "_components/portfolio_menu.html" as m %}

{% block title %}{{ photo.photo.title }}{% endblock title %}

{% block static_head %}
  <script src="/static/portfolio.css"></script>
  <script src="/static/photo.css"></script>
  <script src="/static/styles.css"></script>
{% endblock static_head %}

{% block tailwind_styles %}
  {% include "portfolio.css" %}
  {% include "photo.css" %}
  {% include "styles.css" %}
{% endblock tailwind_styles %}

{% block scripts %}
<script src="/public/menu.js"></script>
{% endblock scripts %}

{% block content %}
  {% include "_blocks/main_menu.html" %}
<div class="portfolio__main">
  {{ m::portfolio_menu(collections=available_collections) }}
  <section class="portfolio__photos">
    {% include "_ajax/one_photo.html" %}
  </section>
<div>
{% endblock content %}
