{% extends "_blocks/base.html" %}
{% import "_components/open_photo.html" as c %}
{% import "_components/photo_info.html" as i %}
{% import "_components/portfolio_menu.html" as m %}
{% import "_components/main_menu.html" as a %}

{% block title %}{{ photo.photo.title }}{% endblock title %}

{% block static_head %}
  <script src="/static/portfolio.css"></script>
  <script src="/static/styles.css"></script>
{% endblock static_head %}

{% block tailwind_styles %}
  {% include "portfolio.css" %}
  {% include "styles.css" %}
{% endblock tailwind_styles %}

{% block scripts %}
<script src="/public/menu.js"></script>
{% endblock scripts %}

{% block content %}
{{ a::main_menu(show_title=True) }}
<div class="portfolio__main">
  <section class="portfolio__photos-about">
    <h1>Photography Portfolio</h1>
    <p>Welcome to my photography portfolio. Here are some collections I've taken in the past 2 years or so.</p>
    {{ m::portfolio_menu(collections=available_collections) }}
  </section>
  <section class="portfolio__photos-wrapper">
  {% include "_ajax/one_photo.html" %}
  </section>
<div>
{% endblock content %}
