{% extends "_blocks/base.html" %}
{% import "_components/photo.html" as c %}

{% block title %}Photography Portfolio{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/photo-stack.css" />
{% endblock head %}

{% block static_head %}
  <script src="/static/photo-stack.min.js"></script>
  <script src="/static/portfolio.css"></script>
  <script src="/static/styles.css"></script>
{% endblock static_head %}

{% block tailwind_styles %}
  {% include "portfolio.css" %}
  {% include "styles.css" %}
{% endblock tailwind_styles %}

{% block dev_head %}
  <script src="/static/photo-stack.js?v={{ get_random(start=0, end=999999) }}"></script>
{% endblock dev_head %}


{%block content %}
<div class="portfolio__main">
  <section class="portfolio__menu">
    <h1>Photography Portfolio</h1>
    <p>Welcome to my photography portfolio. Here are some collections I've taken in the past 2 years or so.</p>
  </section>
  <section class="portfolio__photos">
    <ul>
      {% for photo in portfolio_photos %}
        <li>
          {{ c::photo(data=photo, size="Sm") }}
        </li>
      {% endfor %}
    </ul>
  </section>
<div>
{% endblock content %}
