{% extends "_blocks/base.html" %}
{% import "_components/simple_photo.html" as c %}
{% import "_components/portfolio_menu.html" as m %}
{% import "_components/main_menu.html" as a %}

{% block title %}Photography Portfolio{% endblock title %}

{%block head%}
<meta name="description" content="Victor Quiroz's Photography Portfolio.">

{% set first = portfolio_photos[0] %}

<meta property="og:title" content="victorhqc.com - Photography Portfolio">
<meta property="og:description" content="Victor Quiroz's Photography Portfolio.">
<meta property="og:image" content="{{ api_host }}/v1/images/Md/{{ first.photo.id }}?kind=jpeg">
<meta property="og:url" content="https://victorhqc.com/photography/{{ collection_route.name }}">
<meta property="og:type" content="website">
{% endblock head%}

{% block tailwind_styles %}
  {% include "portfolio.css" %}
  {% include "_components/portfolio_menu.css" %}
  {% include "_components/open_photo.css" %}

  {% if is_mobile %}
    {% include "_components/photo_info.css" %}
  {% endif %}

  {% include "_ajax/portfolio_collection.css" %}
  {% include "_ajax/one_photo.css" %}
  {% include "styles.css" %}
{% endblock tailwind_styles %}

{% block dev_head %}
{% endblock dev_head %}

{% block scripts %}
<script src="/public/menu.js"></script>
{% endblock scripts %}

{% block content %}
{{ a::main_menu(show_title=True) }}
<div class="portfolio__wrapper">
  <section class="portfolio__side-section">
    <h1>Photography Portfolio</h1>
    <p>
      Welcome to my photography portfolio. Here are some collections of my favorite
      photos taken in the past two years.
    </p>
    {{ m::portfolio_menu(collections=available_collections) }}
  </section>
  <section class="portfolio__photos-section">
    {% include "_ajax/portfolio_collection.html" %}
  </section>
<div>
{% endblock content %}
