.portfolio__main {
  @apply grid grid-cols-1 md:grid-cols-12 lg:grid-cols-12 gap-2;
  @apply px-3 md:px-5 lg:px-5;
  @apply md:mt-10 lg:mt-10;
}

.portfolio__photos-about {
  @apply col-span-1 md:col-span-3 lg:col-span-3;
  @apply md:pr-3 lg:pr-3;
  @apply mt-4 md:mt-0 lg:mt-0;
}

.portfolio__photos-about h1 {
  @apply text-xl md:text-2xl lg:text-2xl font-light font-serif;
}

.portfolio__photos-about p {
  @apply mt-3;
}

.portfolio__photos-wrapper {
  @apply col-span-1 md:col-span-9 lg:col-span-9;
}

.portfolio__photos-collection {
  @apply grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4;
  @apply gap-3 md:gap-4 lg:gap-4;
}

.portfolio__collections-menu {
  @apply my-4 md:my-6 lg:my-6;
}

.portfolio__collections-menu ol {
  @apply grid grid-cols-3 md:grid-cols-1 lg:grid-cols-1;
}

.portfolio__collection-item {
  @apply py-2 px-2 -mx-2 cursor-pointer;
  @apply border border-solid border-transparent;

  text-transform: capitalize;
}

.portfolio__collection-item:hover {
  @apply border-black;
}

.portfolio__collection-item--active {
  @apply underline;
}

.portfolio__photo {
  @apply cursor-zoom-in;
}

.portfolio__one-photo-wrapper {
  @apply absolute h-full top-0;

  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.portfolio__one-photo-bg {
  @apply bg-white w-full h-full top-0 left-0 fixed z-0;
}

.open-photo__wrapper {
  @apply w-full;
  height: calc(100% - 24px - 2.5rem);
}

.open__photo {
  width: calc(100vw - 1.5rem);
  aspect-ratio: 3/2;
}

@media (min-width: 768px) {
  .open__photo {
    width: calc(100vw - 5rem);
  }
}

@media (min-aspect-ratio: 3/2) {
  .open__photo {
    @apply w-full h-full;
  }
}

.photo-info__icon {
  @apply bg-cover absolute bottom-8 right-8;
  @apply hidden md:block lg:block;

  width: 18px;
  height: 18px;
  background-image: url("/public/icons/info-white.svg");
}

.photo-info__icon--black {
  background-image: url("/public/icons/info-black.svg");
}

.photo-info__navigation {
  @apply my-3;
  @apply flex place-content-between;
}

.photo-info__navigation ol {
  @apply flex gap-4;
}

.photo-info__navigation button {
  @apply md:text-sm lg:text-sm cursor-pointer;
}

.photo-info__left-arrow::before {
  @apply bg-cover inline-block;

  content: "";

  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  background-image: url("/public/icons/arrow-left.svg");
}

.photo-info__right-arrow::after {
  @apply bg-cover inline-block;

  content: "";

  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  background-image: url("/public/icons/arrow-right.svg");
}

.photo-info__close::after {
  @apply bg-cover inline-block;

  content: "";

  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  background-image: url("/public/icons/x.svg");
}

.photo__container {
  @apply h-full w-full;
}

.photo--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms linear;
}

.photo--hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 2s,
    opacity 150ms linear;
}

.open-photo-info__wrapper {
  @apply top-0 left-0 m-3;
  @apply grid grid-cols-12;

  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  position: absolute !important;
}

.open-photo-info__data {
  @apply px-3 -ml-3 mr-3;
  @apply col-span-8;
}

.info_photo {
  @apply mb-3 w-full;
}

.open-photo-info__wrapper h1 {
  @apply mb-2;
}

.open-photo-info__wrapper h1,
.photo-info__data h1 {
  @apply font-serif italic text-2xl;
}

.open-photo-info__film-sim {
  @apply border-l border-gray-500 border-dashed;
  @apply p-3 -m-3;
  @apply col-span-4;
}

.open-photo-info__film-sim h1 {
  @apply italic font-serif text-xl;
}

.photo-info__film-sim h1 {
  @apply italic font-serif text-xl my-4;
}

.photo-info__wrapper {
  @apply mt-6 p-2;
  @apply border border-black border-solid;
  @apply md:hidden lg:hidden;
}

.photo-info__ticket-dashed {
  @apply border-b border-black border-dashed;
  @apply mb-4 -mx-2;

  height: 20px;
}

.photo-info__data,
.open-photo-info__data-container {
  @apply flex place-content-between;
}

.film-sim__icon {
  @apply bg-cover right-8;

  /* margin: 0 18px 0 auto; */
  width: 136px;
  height: 100px;
}

.film-sim__content {
  @apply grid grid-cols-2 text-left;
}

.film-sim__content h3 {
  @apply font-semibold text-sm;
}

.film-sim__content p {
  @apply font-light;
}
