[env]
RUST_DEBUG = "1"
RUST_LOG = "api_victorhqc_com=debug,cli_victorhqc_com=debug,web_victorhqc_com=debug,sqlx::query=debug,rocket=info"
DATABASE_URL = "sqlite:<ROOT_PATH>development.db"
ROCKET_CACHED_PHOTO_TAGS = "comma,separated,tags"

AWS_ACCESS_KEY_ID = "<AWS_ACCESS_KEY_ID>"
AWS_SECRET_ACCESS_KEY = "<AWS_SECRET_ACCESS_KEY>"
AWS_REGION = "eu-central-1"
AWS_BUCKET_NAME = "victorhqc.com-development"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"
