[env]
RUST_DEBUG = "1"
RUST_LOG = "api_victorhqc_com=debug,cli_victorhqc_com=debug,web_victorhqc_com=debug,sqlx::query=debug,rocket=info"
ROCKET_CACHED_PHOTO_TAGS = "comma,separated,tags"

PRODUCTION_AWS_ACCESS_KEY_ID = "<AWS_ACCESS_KEY_ID>"
PRODUCTION_AWS_SECRET_ACCESS_KEY = "<AWS_SECRET_ACCESS_KEY>"
PRODUCTION_AWS_REGION = "eu-central-1"
PRODUCTION_AWS_BUCKET_NAME = "victorhqc.com-development"

DEVELOPMENT_AWS_ACCESS_KEY_ID = "<AWS_ACCESS_KEY_ID>"
DEVELOPMENT_AWS_SECRET_ACCESS_KEY = "<AWS_SECRET_ACCESS_KEY>"
DEVELOPMENT_AWS_REGION = "eu-central-1"
DEVELOPMENT_AWS_BUCKET_NAME = "victorhqc.com-development"

WEB_ROOT = "web/"
WEB_API_HOST = "http://localhost:7878"
WEB_PORT = "7879"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"
